{% extends "base.html" %}

{% block title %}Train{% endblock %}

{% block content %}

<table class=" table-striped table-hover">
  <thead>
    <tr>
      <th>Time</th>
      <th>Headcode</th>
      <th>Overall Service</th>
      <th>Berth Movement</th>
      <th>RTT Link</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr id="events">
      <td>{{ event.time }}</td>
      <td><strong>{{ event.headcode }}</strong></td>


      <td>
        {% if event.origin and event.destination %}
          {{ event.origin }} &rarr; {{ event.destination }}
        {% else %}
          <span class="text-muted">Route Unknown</span>
        {% endif %}
      </td>

      <td>
        {{ event.from_station }} ({{ event.from_berth }}) 
        &rarr; 
        {{ event.to_station }} ({{ event.to_berth }})
      </td>

      <td>
        {% if event.rtt_service_uid %}
          <a href="https://www.realtimetrains.co.uk/service/gb-nr:{{ event.rtt_service_uid }}/{{ event.date }}/detailed" target="_blank" class="btn btn-sm btn-outline-primary">
            View Schedule
          </a>
        {% else %}
          <span class="text-muted">N/A</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
